@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.notification {
  position: fixed;
  top: 20px;
  left: 49%;
  transform: translateX(-49%);
  background-color: #e7aaaa;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  white-space: nowrap;
  animation: slideIn 0.3s ease-out forwards;
  display: flex;
}

.notification::before {
  content: '';
  width: 5px;
  background-color: #ff4d4d;
  margin-right: 10px;
}
